# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.h.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.pyd
*.pyc
*.npz
*.pdf
*.png
*.a

# Other
*.dat

#Directory to ignore
build/
dist/
*.egg-info/

!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
# Byte-compiled / optimized / DLL files
# Distribution / packaging
# JetBrains
# Python
# VSCode
*$py.class
*.egg
*.egg-info/
*.py[cod]
.Python
.eggs/
.idea/
.installed.cfg
.vscode/*
MANIFEST
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pip-wheel-metadata/
sdist/
share/python-wheels/
var/
wheels/