[submodule "CMakeConfigs"]
	path = CMakeConfigs
	url = https://github.com/SimonBolducBeaudoin/CMakeConfigs.git
[submodule "SBB/Omp_extra"]
	path = SBB/Omp_extra
	url = https://github.com/SimonBolducBeaudoin/Omp_extra.git
[submodule "SBB/AutoCorr"]
	path = SBB/AutoCorr
	url = https://github.com/SimonBolducBeaudoin/AutoCorr.git
[submodule "SBB/Histograms"]
	path = SBB/Histograms
	url = https://github.com/SimonBolducBeaudoin/Histograms.git
[submodule "SBB/FFTW_extra"]
	path = SBB/FFTW_extra
	url = https://github.com/SimonBolducBeaudoin/FFTW_extra.git