include SBB/AutoCorr/acorrs_wrapper.so
include SBB/AutoCorr/acorrs_wrapper.pyd

include SBB/Time_quadratures/time_quadratures.so
include SBB/Time_quadratures/time_quadratures.pyd

include SBB/Histograms/histograms.so
include SBB/Histograms/histograms.pyd

include SBB/Omp_extra/omp_extra.so
include SBB/Omp_extra/omp_extra.pyd
