include SBB/acorrs_otf/acorrs_wrapper.so
include SBB/acorrs_otf/acorrs_wrapper.pyd

include SBB/Time_quadratures/time_quadratures.so
include SBB/Time_quadratures/time_quadratures.pyd

include SBB/Histograms/histograms.so
include SBB/Histograms/histograms.pyd
